@page "/"

@using Syncfusion.Blazor.Form
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars;
@using Syncfusion.Blazor.Popups

<PageTitle>SfDataForm component</PageTitle>

<h3>Auto Generated fields - All fields</h3>

<SfDataForm ID="MyForm"
            Model="@exampleModel"
            Width="50%"
            Columns=1
            ColumnSpacing="20px"
            LabelPosition="FormLabelPosition.Top"
            ButtonsAlignment="FormButtonsAlignment.Right"
            ValidationMessageDisplay="@Validation" OnSubmit="HandleFormSubmit" OnUpdate="FormUpdate">
    <FormValidation>
        <DataAnnotationsValidator></DataAnnotationsValidator>
        @*<ValidationSummary></ValidationSummary>*@
    </FormValidation>
    <FormItems>
        <FormItem Field="@nameof(exampleModel.FirstName)" EditorType="FormEditorType.TextBox" LabelText="FirstName"></FormItem>
        <FormItem Field="@nameof(exampleModel.LastName)" LabelText="LastName"> </FormItem>
        <FormItem Field="@nameof(exampleModel.Email)" LabelText="Email" Placeholder="Enter Email"></FormItem>
        <FormItem Field="@nameof(exampleModel.Date)" LabelText="Date Of Birth" Placeholder="Enter Date Of Birth"></FormItem>
        <FormItem Field="@nameof(exampleModel.Accept)" EditorType="FormEditorType.Switch" LabelText="Agree to the terms and Conditions" Placeholder="Enter Date Of Birth"></FormItem>
    </FormItems>

    <FormButtons>
        <SfButton>Submit</SfButton>
    </FormButtons>

</SfDataForm>

@code {

    private void FormUpdate(FormUpdateEventArgs args)
    {

    }

    private async Task HandleFormSubmit(EditContext editContext)
    {
        bool isFormValid = editContext.Validate();

        if (isFormValid)
        {
            //apply some custom logic when the form is valud
        }
        else
        {
            //apply some custom logic when the form is not valid
        }
    }
    public string Text1 { get; set; } = "string";
    public void RenderDay(RenderDayCellEventArgs ars)
    {

    }
    SfDataForm? validate;

    FormValidationMessageDisplay Validation { get; set; } = FormValidationMessageDisplay.Inline;

    public void ChangeProperty()
    {
        Validation = FormValidationMessageDisplay.Inline;

    }

    public void ChangePropertyInline()
    {
        Validation = FormValidationMessageDisplay.Tooltip;
    }

    EditContext myEditContext { get; set; }

    protected override void OnInitialized()
    {
        myEditContext = new EditContext(exampleModel);
        base.OnInitialized();
    }

    public class ExampleModel
    {

        [Required(ErrorMessage = "Enter FirstName here")]
        public string FirstName { get; set; }

        [Required(ErrorMessage = "Enter LastName here")]
        public string LastName { get; set; }

        [Required(ErrorMessage = "Enter Email here")]
        public string Email { get; set; }

        [Required(ErrorMessage = "Enter Date here")]
        [Display(Name = "Date Of Birth")]
        public DateTime? Date { get; set; }

        [Required(ErrorMessage = "You need to agree to the Terms and Conditions")]
        [Range(typeof(bool), "true", "true", ErrorMessage = "You need to agree to the Terms and Conditions")]
        public bool Accept { get; set; }
    }

    private ExampleModel exampleModel = new ExampleModel();
}




